body {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-size: 20px;
  line-height:24px;
  color: #000;
  background-color: #f4f4f4;
}

/*modif 4th april 2016 start - ras*/
.post-header {
    text-align: center;
}

.post-header h2 a {
    font-size: 22px;
    letter-spacing: 2px;
}

.title-divider {
    border-top: 2px solid;
    display: block;
    max-width: 48px;
    margin: 0 auto 15px;
    color: #161616;
}

.title-center {
  margin-top: 15vh;
}
/*modif 4th april 2016 end - ras*/

p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: none;
  color:#ab6948;
}

.primary-color{
  color:#ab6948;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', 'Helvetica Neue', Helvetica, Arial, serif;
   font-weight: 400;
}

a {
  color: #404040;
}
a:hover,
a:focus {
  color: #4d676d;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
blockquote {
  font-size:24px;
  line-height:40px;
  text-align: center;
  color: #ab6948;
  font-style: normal;
  border-left-style: none;
}

blockquote::before{
  content:'“ ';
  font-size:34px;
  text-align: center;
}

blockquote::after{
  content:' ”';
  font-size:34px;
  text-align: center;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}
.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
  color: white;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }ul
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;

  }
  .est-list li{
    margin-bottom:5px;
    list-style: square;
  }

  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #4d676d;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #4d676d;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.intro-header {
  background-color: #808080;
  background-repeat: no-repeat;
  background: center fixed;
  background-attachment: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
  height: 100vh; /* change made 31 march 2016*/

}
.intro-header-overlay {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: relative;;
    top: 0;
    width: 100%;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.3;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height:34px;
  margin: 20px 0 30px;
  font-weight: 300;
  color:#e9e9e9;
}

.intro-header .post-heading .subheading a {
  color:#fff;
}

.intro-header .post-heading .meta {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  color:#e9e9e9;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}
.post-preview > a {
  color: #404040;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #4d676d;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #404040;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #4d676d;
  text-decoration: underline;
}

.influencer-block {
  margin-top:80px;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}

.section-title{
  margin:80px auto;
}

.section-heading-2{
  position:relative;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight:300;
  font-size:18px;
  letter-spacing: 2px;
  background-color:#000;
  color:#fff;
  padding:10px 10px;
  text-transform: uppercase;
}

  .section-heading-2 a{
    color:#fff;
  }
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

    /***filters****/

    .feed-filter-ctn{
      font-size:24px;
      height:32px;
      line-height:32px;
      margin:32px auto;
    }

    .filter-before{
      text-align: right;
    }

    .filter-after{
      text-align:left;
    }

    @media (max-width: 1200px) {
      .filter-before,.filter-after{
        text-align:center;
      }

      .filter-before{
        margin-bottom:-10px;
        margin-top:30px;
      }

      .filter-after{
        margin-bottom:30px;
        margin-top:-10px;
      }
    }


    .label-ctn{
      border-bottom: 1px solid #000;
      background: transparent;
      position: relative;
      margin:32px 0;
    }

    .label-ctn:hover{
      border-bottom: 1px solid #4d676d;
    }

    .label{
        display: block;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size:24px;
        height:32px;
        line-height:24px;
        margin: 0 32px 0 32px;
        text-align: center;
    }
    .label-ctn:hover .label,
    .label-ctn:hover .btn-label{
      color: #4d676d;
    }
    .btn-label{
      display: block;
      position: absolute;
      font-size:22px;
      right: 0;
      top: 0;
      width: 30px;
      text-align: center;
    }


    /* .modal-transparent */

    .modal-transparent {
      background: transparent;
    }
    .modal-transparent .modal-content {
      background: transparent;
    }
    .modal-backdrop.modal-backdrop-transparent {
      background: #ffffff;
    }
    .modal-backdrop.modal-backdrop-transparent.in {
      opacity: .9;
      filter: alpha(opacity=90);
    }

    /* .modal-fullscreen */

    .modal-fullscreen {
      background: transparent;
    }
    .modal-fullscreen .modal-content {
      background: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .modal-backdrop.modal-backdrop-fullscreen {
      background: #ffffff;
    }
    .modal-backdrop.modal-backdrop-fullscreen.in {
      opacity: .97;
      filter: alpha(opacity=97);
    }

    /* .modal-fullscreen size: we use Bootstrap media query breakpoints */

    .modal-fullscreen .modal-dialog {
      margin: 0;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      height:1080px;
      position:relative;
    }

    .dropdown-content{
      top:15vh;
      height:60vh;
      width:100%;
      position:relative;
      list-style: none;
    }

    .dropdown-content li{
      height:15vh;
      width:100%;
      position:relative;
      line-height: 15vh;
      text-align: center;
      font-size:28px;
      text-decoration:none;
      color:#000;
    }
    @media (min-width: 768px) {
      .modal-fullscreen .modal-dialog {
        width: 750px;
        font-size:30px;
      }
    }
    @media (min-width: 992px) {
      .modal-fullscreen .modal-dialog {
        width: 970px;
        font-size:34px;
      }
    }
    @media (min-width: 1200px) {
      .modal-fullscreen .modal-dialog {
         width: 1170px;
         font-size:45px;
      }
    }

/*********************************************************/

/**********NEWSFEED***********/

/***news feed cards***/

.poi-card{
  position:relative;
  width:360px;
  background-color:#fff;
  height:450px;
  margin:15px auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 760px) {
  .poi-card{
    width:100%;
  }
}

.poi-card-insta{
  position:relative;
  width:360px;
  background-color:#fff;
  height:525px;
  margin:15px auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 760px) {
  .poi-card-insta{
    width:100%;
  }
}




.poi-card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

  .img-ctn{
    position: relative;
    width:100%;
    height:250px;
    background-color: #808080;
    background-repeat: no-repeat;
    background-position: center fixed;
    -webkit-background-size:400px auto;
    -moz-background-size:400px auto;
    background-size: cover;
    -o-background-size:400px auto;
  }

    .img-ptrn{
      background-color: rgba(0, 0, 0, 0.3);
      background-image: url("../images/pattern.png");
      background-repeat: repeat;
      height: 100%;
      left: 0;
      position: relative;
      top: 0;
      width: 100%;
    }

      .img-h1{
        position: relative;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 1px;
        width:100%;
        line-height:250px;
        text-align: center;
        color:#fff;
      }

  .info-ctn{
    position:relative;
    width:90%;
    margin:0 auto;
    padding:20px 0;
    height:150px;
  }

    .info-p{
      color:#000;
      font-family: 'Playfair Display', 'Helvetica Neue', Helvetica, Arial, serif;
      font-weight: 400;
      font-size:18px;
      line-height:24px;
      margin-bottom:20px;
    }

  .cta-ctn{
    postition:relative;
    width:100%;
    height:50px;
    background-color:#000;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:20px;
    color:#fff;
    letter-spacing:1px;
    font-weight:300;
    text-align:center;
    line-height:50px;
  }

    .cta-ctn-a{
      position:relative;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size:20px;
      color:#fff;
      letter-spacing:1px;
      font-weight:300;
      width:100%;
      height:100%;
    }

    .cta-ctn-a:hover{
      color:#fff;
      text-decoration: none;
    }

    .cta-ctn:hover{
      background-color:#222;
    }


/*******Fin implémentation****************/

footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #4d676d;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #4d676d;
  border: 1px solid #4d676d;
  color: white;
}
.pager {
  margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #4d676d;
  border: 1px solid #4d676d;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #808080;
  background-color: #404040;
  cursor: not-allowed;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #4d676d;
}
::selection {
  color: white;
  text-shadow: none;
  background: #4d676d;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #4d676d;
}
