body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height:24px;
  color: #0D0D0D;
  background-color: #f4f4f4;
}

p {
/*  line-height: 1.5;*/
  margin: 30px 0;
}
p a {
  text-decoration: none;
  color:#fff;
}

.primary-color{
  color:#ab6948;
}

h1,h4, blockquote {
  font-family: 'Playfair Display', 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 400;
}

header {
  color:#fff;
}


a {
  color: #404040;
}
a:hover,
a:focus {
  color: #4d676d;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
blockquote {

  text-align: center;
  color: #ab6948;
  font-style: normal;
  border-left-style: none;
}

blockquote::before{
  content:'“ ';
  font-size:1.5em;/*34px*/
  text-align: center;
}

blockquote::after{
  content:' ”';
  font-size:1.5em;
  text-align: center;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}
hr{
  border-color: transparent;
}

.section{
  margin-top:20px;
  padding-bottom: 60px;
}

.dark-section{
  padding-top:40px;
  background-color: #0D0D0D;
  color:#fff;
  padding-bottom:100px;
}

/********************NAVIGATION-START***********************/

.nav-menu{
  postition:absolute;
  width:100%;
  height:40px;
  top:0;
  left:0;
  padding:0 20px;
  background-color:transparent;
  z-index:3;
}

.nav-menu a, .nav-menu .text-nav-brand{
  line-height:35px;
  color:#fff;
}

.nav-menu .menu-item{
  top:15px;
}
.logo-nav-brand{
  float:left;
  position:relative;
  margin-right:20px;
  height:35px;
  width:35px;
}
@media (max-width:767px){
  .text-nav-brand{
    display:none;
  }

  .logo-nav-brand{
    margin-left:-10px;
    height:30px;
    width:30px;
  }
}


/*


.logo-nav-brand{
  float:left;
  position:relative;
  margin-right:20px;
}
.text-nav-brand{
  display:inline-block;
  line-height:40px;
}

.logo-nav-brand{
  float:left;
  position:relative;
  margin-right:20px;
  /*line-height:35px;*/
/*}

.text-nav-brand{
  display:inline-block;
}

@media (max-width:767px){
  .text-nav-brand{
    display:none;
  }
}

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  padding:0 30px;
  width: 100%;
  z-index: 3;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
  /*line-height:40px;*/
  /*height:35px;
  color:#fff;
  letter-spacing: 3px;
}

.navbar-custom .navbar-toggle{
  background-color:transparent;
  top:10px;
  border:none;
}

@media only screen-device{

.navbar-custom:hover{
  background-color:#1c1c1c;
  border:none;
  height:70px;
}

.navbar-custom:hover .navbar-nav,
.navbar-custom:focus .navbar-nav{
  background-color:#1c1c1c;
}

.navbar-custom:hover .in{
  position:absolute;
  width:110%;
  left:0;
  right:0;
  text-align:center;
  border:none;
}

.navbar-custom:hover .navbar-right{
  text-align:center;
}
}


.navbar-custom .navbar-toggle .icon-bar{
  color:#fff;
  background:#fff;
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 3px;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }ul
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;

  }
  .est-list li{
    margin-bottom:5px;
    list-style: square;
  }

  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
  /*  -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    /*position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  /*.navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #4d676d;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #4d676d;
  }*/
/*  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
  /*  -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

/*******************NAVIGATION-END*****************************/

/*******************HEADER-START******************************/

.intro-header {
  background-color: #808080;
  background-repeat: no-repeat;
  background: top center;
  background-attachment: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
  height: 100vh;
}

.intro-header-overlay {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}

.intro-header .post-heading{
  padding:100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }

  .intro-header .site-heading
  {
    padding:10vh 0;
  }
}


.intro-header .post-heading h1 {
  /*font-size: 35px;*/
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
/*line-height: 1.3;*/
 display: block;
}
.intro-header .post-heading .subheading {

/*  font-size: 20px;
  line-height:34px;*/
  margin: 20px 0 30px;
  font-weight: 300;
  color:#e9e9e9;
}

.intro-header .post-heading .subheading a {
  color:#fff;
}


.site-heading h1{
  color:#fff;
/*  font-size:50px !important;*/
  position:relative;
  padding-top:15vh;
  padding-bottom:0.5vh;
  text-align:left;
  letter-spacing: 5px;
  border-bottom: 1px solid #fff;
}

.site-heading h2{

  color:#fff;
  padding-top:0.5vh;
/*  font-size:30px !important;*/
  text-align:left;
  letter-spacing:1px;
  font-weight: 300;
}

.btn-cta-header{
  margin-top:15vh;
  padding:1vh;
  position:relative;
  color:#fff;
  border:3px solid #fff;
  text-align:center;
/*  font-size:20px;*/
  letter-spacing:3px;
}

.btn-cta-header:hover{
  background-color:#fff;
  color:#0D0D0D;
  text-decoration: none;
}
.subhead-p {
  line-height:1.5em;
  color:#0D0D0D;
  text-align:center
}


/**********************************HEADER-END******************************/

/**********************************MAIN-VIEW-START*************************/

.influencer-block {
  margin-top:80px;
}
/*@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}*/
.section-heading {
  /*font-size: 36px;*/
  margin-top: 60px;
  font-weight: 700;
}

.section-title{
  margin-top:30px;
  margin-bottom:80px;
}

.section-heading-2{
  position:relative;
  font-weight:700;
  font-size:14px;
  letter-spacing: 3px;
  background-color:transparent;
  border: 2px solid #0D0D0D;
  color:#0D0D0D;
  padding:10px 15px;
  text-transform: uppercase;
}

.section-heading-2-reverse{
  border-color:#fff;
  color:#fff;
}
  .section-heading-2 a{
    color:#fff;
  }

  .photo-credit{
    font-style: italic;
    font-weight: normal;
    padding-top:60px;
    margin-bottom:-30px;
  }






/**********************MAIN-VIEW-START*************************/

/**********************LIST-VIEW-START************************/

    /***filters****/

    .feed-filter-ctn{
      color:#959595;
    }
    .filter-before{
      text-align: right;
      margin-top:30px;
    }
    .filter-after{
      text-align:left;
      margin-top:30px;
    }

    @media (max-width: 1200px) {
      .filter-before,.filter-after{
        text-align:center;
      }
      .filter-before{
        margin-bottom:-10px;
        margin-top:30px;
      }
      .filter-after{
        margin-bottom:30px;
        margin-top:-10px;
      }
    }
    .label-ctn{
        border-bottom: 1px solid #0D0D0D;
        background: transparent;
        position: relative;
        margin:32px 0;
      }

      @media (max-width: 1200px){
        .label-ctn{
          margin:32px 20px;
        }
      }

      .label-ctn:hover{
        /*border-bottom: 1px solid #4d676d;*/
      }

      .label{
          display: inline-block;
          cursor: pointer;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          height:32px;
          margin: 0 32px;
          font-size:1.2em;
          text-align: center;
          font-weight: bold;
          color:#0D0D0D;
      }
      .label-ctn:hover .label,
      .label-ctn:hover .btn-label{
        color:#0D0D0D;
      }
      .btn-label{
        display: block;
        position: absolute;
        color:#0D0D0D;
        right: 0;
        top: 0;
        width: 30px;
        text-align: center;
      }

    /* .modal-transparent */

    .modal-transparent {
      background: transparent;
    }
    .modal-transparent .modal-content {
      background: transparent;
    }
    .modal-backdrop.modal-backdrop-transparent {
      background: #ffffff;
    }
    .modal-backdrop.modal-backdrop-transparent.in {
      opacity: .9;
      filter: alpha(opacity=90);
    }

    /* .modal-fullscreen */

    .modal-fullscreen {
      background: transparent;
    }
    .modal-fullscreen .modal-content {
      background: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .modal-backdrop.modal-backdrop-fullscreen {
      background: #ffffff;
    }
    .modal-backdrop.modal-backdrop-fullscreen.in {
      opacity: .97;
      filter: alpha(opacity=97);
    }

    .modal-fullscreen .modal-dialog {
      margin: 0;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      height:1080px;
      position:relative;
    }

    .dropdown-content{
      top:10vh;
      height:60vh;
      width:100%;
      position:relative;
      list-style: none;
      padding:0;
    }

    .dropdown-content li{
      height:10vh;
      width:100%;
      position:relative;
      left:0;
      line-height: 15vh;
      text-align:center;
      padding-left:5px;
      text-decoration:none;
      color:#000;
    }
    @media (max-width:768px){
      .dropdown-content li h1{
        font-size:1.5em;
      }
    }
    @media (min-width: 768px) {
      .modal-fullscreen .modal-dialog {
        width: 750px;
        /*font-size:30px;*/
      }
    }
    @media (min-width: 992px) {
      .modal-fullscreen .modal-dialog {
        width: 970px;
        /*font-size:34px;*/
      }
      .dropdown-content li{
        height:7vh;
      }
      .dropdown-content{
        top:15vh;
      }
    }
    @media (min-width: 1200px) {
      .modal-fullscreen .modal-dialog {
         width: 1170px;
      }
    }

/***CARDS***/

.poi-card{
  position:relative;
  width:100%;
  background-color:#fff;
  height:450px;
  margin:15px auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.insta-cards{
  margin-top:-20px;
}

.hide-before-insta{
  height:55px;
  position:absolute;
  display:block;
  z-index:3;
  background-color: #0D0D0D;
  width:100%;
}

.poi-card-insta{
  position:relative;
  display:block;
  width:350px;
  height:350px;
  margin:15px auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  z-index:2;
  border-bottom:7px #fff solid;
}


@media (max-width:1200px){
  .poi-card-insta{
    width:290px;
    height:300px;
    margin:15px auto;
  }
}

.poi-card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

  .img-ctn{
    position: relative;
    width:100%;
    height:250px;
    background-color: #808080;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size:400px auto;
    -moz-background-size:400px auto;
    background-size: cover;
    -o-background-size:400px auto;
  }

    .img-ptrn{
      background-color: rgba(0, 0, 0, 0.1);
      background-image: url("../images/pattern.png");
      background-repeat: repeat;
      height: 100%;
      left: 0;
      position: relative;
      top: 0;
      width: 100%;
    }

      .img-h1{
        position: relative;
        text-transform: uppercase;
      /*  font-size: 24px;*/
        font-weight: 300;
        letter-spacing: 1px;
        width:100%;
        /*line-height:250px;*/
        text-align: center;
        color:#fff;
      }

  .info-ctn{
    position:relative;
    width:90%;
    margin:0 auto;
    padding:20px 0;
    height:150px;
  }

    .info-p{
      color:#000;

      font-weight: 400;
      /*font-size:18px;
      line-height:24px;*/
      margin-bottom:20px;
    }

  .cta-ctn{
    postition:relative;
    width:100%;
    height:50px;
    background-color:#000;
  /*  font-size:20px;*/
    color:#fff;
    letter-spacing:1px;
    font-weight:300;
    text-align:center;
  /*  line-height:50px;*/
  }

    .cta-ctn-a{
      position:relative;
      /*font-size:20px;*/
      color:#fff;
      letter-spacing:1px;
      font-weight:300;
      width:100%;
      height:100%;
    }

    .cta-ctn-a:hover{
      color:#fff;
      text-decoration: none;
    }

    .cta-ctn:hover{
      background-color:#222;
    }

    /*modif 4th april 2016 start - ras*/
    .post-header {
        text-align: center;
    }

    .post-header h2 a {
        /*font-size: 22px;*/
        letter-spacing: 2px;
    }

    .title-divider {
        border-top: 2px solid;
        display: block;
        max-width: 48px;
        margin: 0 auto 15px;
        color: #161616;
    }

    .title-center {
      margin-top: 15vh;
    }
    /*modif 4th april 2016 end - ras*/


    /***FOOTER*****/

    footer {
      padding: 50px 0 65px;
      background-color:#0D0D0D;
    }

    footer p{
      color:#fff;
      margin:10px auto;
      letter-spacing:3px;
      text-align:center;
    }

    footer .logo-nav-brand-footer{
      position:relative;
      top:40px;
      width:40px;
      height:40px;
      /*padding-top:40px;*/

    }
