
<head>
<link rel="shortcut icon" href="img/gt_favicon.png">

    <title>Memorable: Montreal</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom CSS -->
    <!-- <link href="css/clean-blog.css" rel="stylesheet"> -->

    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">Memorable Montreal</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="http://memorable.io">Home</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <!-- Page Header -->
  <header class="intro-header" style="background-image: url({{urlImage}})">
    <div class="intro-header-overlay">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="post-heading text-center">
                      <h1>{{item.establishement_name}}</h1>
                      <h2 class="subheading">Recommended by <a href="{{item.influencer1_publisher_facebook_url}}" target="_blank">{{item.influencer1_publisher_name}}</a> and <a href="{{item.influencer2_publisher_facebook_url}}" target="_blank">{{item.influencer2_publisher_name}}</a>.</h2>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </header>
  <!-- Post Content -->
  <article>
      <div class="container">
          <!-- Infuencers section -->
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2 class="section-title text-center"><span class="section-heading-2 ">INFLUENCERS OPINIONS</span></h2>
                <div class="influencer-block">
                  <p>{{item.influencer1_name}} wrote about {{item.establishement_name}} :</p>
                  <blockquote class="colored">{{item.influencer1_quote_text}}</blockquote>
                  <p class="text-right">Click <a class="colored" href="{{item.influencer1_article_url}}" target="_blank">here</a> for  full article published by <a class="colored" href="{{item.influencer1_publisher_facebook_url}}" target="_blank">{{item.influencer1_publisher_name}}.</a></p>
                </div>
                <div class="influencer-block">
                  <p>{{item.influencer2_name}} wrote about {{item.establishement_name}} :</p>
                  <blockquote class="colored">{{item.influencer2_quote_text}}</blockquote>
                  <p class="text-right">Click <a class="colored" href="{{item.influencer2_article_url}}" target="_blank">here</a> for the full article published by <a class="colored" href="{{item.influencer2_publisher_facebook_url}}" target="_blank">{{item.influencer2_publisher_name}}.</a></p>
                </div>
              </div>
          </div>
<hr>
          <!--Establishement Section-->
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <h2 class="section-title text-center"><span class="section-heading-2 ">{{item.establishement_name}}</span></h2>
                  <ul class="est-list">
                    <li class="est-location">Location: <span class="colored">{{item.establishement_address}}</span></li>
                    <li class="est-price">Price: <span class="colored">{{item.establishement_pricerange}}</span></li>
                    <li class="est-website">Website: <span class="colored">{{item.establishement_website_url}}</span></li>
                    <!-- <li class="est-schedule">Opening Hours: <span class="colored">{{item.establishement_hours}}</span> </li> -->
                  </ul>

                    <p>Photographs by <a class="colored" href="{{item.establishement_facebook_url}}">{{item.establishement_name}}</a></p>
              </div>
          </div>
<hr>
          <!--Memorable Section -->
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <h2 class="section-title text-center"><span class="section-heading-2 ">about Memorable</span></h2>
                  <p>Tap into the exclusive knowledge of the tastemakers that always have their fingers on the pulse of the city. Register for the beta on <a class="colored" href="https://memorable.io">memorable.io.</a> </p>
              </div>
          </div>
      </div>
  </article>

  <hr>
